<div class="login">
           <div class="top-content">
        	
            <div class="inner-bg">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-8 col-sm-offset-2 text">
                            <h1>Update your Profile</h1>
                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-sm-offset-3 form-box">
                        	
                            <div class="form-bottom">
			                    <form>
			                    <div class="form-group">
			                    		<label class="sr-only" for="form-username">First Name</label>
			                        	<input type="text" placeholder="First Name" class="form-username form-control input-lg" ng-model="newUser.firstName">
			                        </div>
			                        <div class="form-group">
			                    		<label class="sr-only" for="form-username">Last Name</label>
			                        	<input type="text" placeholder="Last Name" class="form-username form-control input-lg" ng-model="newUser.lastName">
			                        </div>
			                    
			                        <div class="form-group">
			                    		<label class="sr-only" for="form-username">Contact</label>
			                        	<input type="tel" placeholder="Contact" class="form-username form-control input-lg" ng-model="newUser.phoneNumber">
			                        </div>
			                       
			                      
			                        
			                       
                                </form>
			                        </div>
			                        <button type="submit" class="btn" ng-click = "updateProfile()">Update</button>
			              
		                    </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            
        </div>
</div>